/*//////imports\\\\\\*/
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
/*//////end-imports\\\\\\*/

body { 
	height: 100%;
	background-color: #a7cece;
	background: url(images/background.png);
	/*background-repeat: repeat-x;*/
	font-family: 'Quattrocento Sans', sans-serif;
}

.global-nav {
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 50px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: inline-block;
}

.left-nav ul .right-nav ul {s
	list-style: none;
	display: block;
	text-align: center;
	padding-left: 10%;
}

.global-nav li {
	float: left;
	overflow: hidden;
	position: relative;
	display: block;
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	padding: 0.5em;
	margin-right: 20px;
}

#home-icon {
	float: left;
	margin: 11px 0 0 10px;
	width: 33px;
	height: 28px;
	background: transparent;
	display: inline-block;
	font-size: normal;
	position: relative;
	top: -20;
}

.login-nav li {
	margin-right: 0px;
}

.login-button {
	padding: 2px;
	font-size: 12px;
	text-decoration: none;
    color: #8899a6;
    border-radius: 5px;
    border: 1px solid #bef8cf;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(177, 246, 203); /* this is a green */
}

#login-username, #login-password {
	color: #8899a6;
	font-size: 12px;
	padding: 6px 8px 5px;
	background-color: #ffffff;
	border: 1px solid #bef8cf;
	border-color: rgba(177,246,203,14);
	border-radius: 5px;
	max-height: 19px;
	min-height:19px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 16px;
	text-shadow: none;
}

.right-nav {
	float: right;
	margin-right: 10%;
}

.right-nav .profile_picture {
	width: 32px;
	height: 32px;
	border: 0;
	opacity: 1;
	position: fixed;
	top: 10;
	right: 0;
	left: 80%;
	border: 1px solid #bef8cf;
	border-radius: 5px;
}

.peep-button {
	padding: 2px;
	font-size: 12px;
	text-decoration: none;
    color: #8899a6;
    border-radius: 5px;
    border: 1px solid #bef8cf;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(177, 246, 203); /* this is a green */
    position: fixed;
    top: 20;
    right: 13%;
}

#main {
	margin-top: 5%;
	margin-left: 10%;
}

#user-input{
	position: relative;
	float: left;
	width: 25%;
	height: 18em;
	margin-left: 1%;
	border-radius: 6px;
	background-color: #fff;
	color: #8899a6;
	font-size: 14px;
	line-height: 18px;
}

#user-input header{
	background-color: #6bd694;
	height: 7em;
	border-radius: 6px 6px 0px 0px;
}

#user-info .profile_picture {
	border-radius: 7px;
	height: 72px;
	width: 72px;
	border: 2px solid #bef8cf;
	box-sizing: border-box;
	color: #bef8cf;
	z-index: 1000;
	position: relative;
	margin-top: -3em;
	margin-left: 6px;
}

#user-info {
/*	height: 8em;*/
	padding: 0.5em;
}

#identity{
	position: relative;
	margin-left: 6.5em;
	margin-top: -4em;
}

#identity h1{
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-top: 30px;
	margin-bottom: 5px;
}

#identity h2{
	font-size: 12px;
	color: #66757f;
	margin-top: -6px;
	margin-bottom: 5px;
}

#peep_box {
	border: 1px solid;
	border-color: rgba(107,214,148,0.25);
	background-color: #ccfacf;
	margin-bottom-1px;
	padding: 12px;
	padding: 10px 12px;
	border-radius: 0 0 5px 5px;
}

#new_peep_content{
	color: #8899a6;
	font-size: 14px;
	padding: 6px 8px 5px;
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-color: rgba(0,132,180,0.25);
	border-radius: 5px;
	max-height: 26px;
	min-height: 19px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 18px;
	text-shadow: none;
	width: 70%;
}

#peeps{
	width: 60%;
	width: 56%;
	margin-left: 32%;
	min-height: 40em;
	border-radius: 6px;
	background-color: #fff;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	border-color: rgba(0,132,180,0.25);
	
}

#peeps h1{
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	min-height: 20px;
	padding: 12px;
	background-color: #fff;
	border-bottom: 1px solid #e1e8ed;
	border-radius: 5px 5px 0 0;
}










