/*//////imports\\\\\\*/
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
/*//////end-imports\\\\\\*/

body { 
	height: 100%;
	background-color: #a7cece;
	background: url(images/background.png);
	/*background-repeat: repeat-x;*/
	font-family: 'Quattrocento Sans', sans-serif;
}

.global-nav {
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 50px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: inline-block;
}

.left-nav ul .right-nav ul {
	margin: 0;
	list-style: none;
	padding: 0;
	display: block;
	text-align: center;
	padding-left: 10%;
}

.global-nav li {
	float: left;
	overflow: hidden;
	position: relative;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 30px;
	line-height: 1;
	padding: 0.5em;
	margin-right: 20px;
}

#home-icon {
	float: left;
	margin: 11px 0 0 10px;
	width: 33px;
	height: 28px;
	background: transparent;
	display: inline-block;
	font-size: normal;
	position: relative;
	margin-top: -5px;
}

.login-nav li {
	margin-right: 0px;
}

.login-button {
	padding: 2px;
	font-size: 12px;
	text-decoration: none;
    color: #8899a6;
    border-radius: 5px;
    border: 1px solid #bef8cf;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(177, 246, 203); /* this is a green */
}

#login-username, #login-password {
	color: #8899a6;
	font-size: 12px;
	padding: 6px 8px 5px;
	background-color: #ffffff;
	border: 1px solid #bef8cf;
	border-color: rgba(177,246,203,14);
	border-radius: 5px;
	max-height: 19px;
	min-height:19px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 16px;
	text-shadow: none;
}

.right-nav {
	float: right;
	margin-right: 10%;
}

.right-nav .profile_picture {
	width: 32px;
	height: 32px;
	border: 0;
	opacity: 1;
	position: fixed;
	top: 10;
	right: 0;
	left: 80%;
	border: 1px solid #bef8cf;
	border-radius: 5px;
}

.peep-button {
	padding: 2px;
	font-size: 12px;
	text-decoration: none;
    color: #8899a6;
    border-radius: 5px;
    border: 1px solid #bef8cf;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(177, 246, 203); /* this is a green */
    position: fixed;
    top: 20;
    right: 170;
}

/*.icon-turtle {
	display: inline-block;
	margin-top: 6px;
	width: 30px;
	height: 30px;
}*/

/*
#global-sign-up {
	padding: 0 13px 0 14px;
	display: block;
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	cursor: pointer;
	height: 32px;
	margin-top: 0px;
	margin-right: 0;
	opacity: 1;
	background-color: #acc172;
	background: rgba(172,193,114,.8);
	border: 1px solid transparent;
	text-align: center;
	border-radius: 4px;
	position: relative;
}*/


