Please, insert a new password:

<form action="/request_password/new_password" method="post">
	New password: <input name="password" type="password">
	And again: <input name="password_confirmation" type="password">
	<input type="submit" value="Submit">
</form>