<!DOCTYPE>
<html>
	<head>
		<title>CHITTER</title>
		<link rel="stylesheet" href="../../public/css/style.css">
	</head>
	<body>
		<header>
			<nav class="global-nav">
				<nav class="left-nav">
					<ul>
						<li id="home"><img src="../../public/css/images/home.gif" id="home-icon"></li>
					</ul>
				</nav>
				<nav class="login-nav">
					<ul>
						<li><input type="text" placeholder="Username" id="login-username"/></li>
						<li><input type="text" placeholder="Password" id="login-password"/></li>
						<li><a href="#" class="login-button">Sign in</a></li>
					</ul>
				</nav>
			</nav>
		</header>
	</body>
</html>