<!DOCTYPE>
<html>
	<head>
		<title>CHITTER</title>
		<link rel="stylesheet" href="../../public/css/style.css">
		<link rel="stylesheet" href="../../public/css/peep_button.css">
	</head>
	<body>
		<header>
			<nav class="global-nav">
				<nav class="left-nav">
					<ul>
						<li id="home"><img src="../../public/css/images/home.gif" id="home-icon"></li>
					</ul>
				</nav>
				<nav class="login-nav">
					<ul>
						<li><input type="text" placeholder="Username" id="login-username"/></li>
						<li><input type="text" placeholder="Password" id="login-password"/></li>
						<li><a href="#" class="login-button">Sign in</a></li>
					</ul>
				</nav>
				<nav class="right-nav">
					<ul>
						<li><img src="../../public/css/images/profile_image.jpg" class="profile_picture"/></li>
						<li><a href="#" class="peep-button">Peep</a></li>
					</ul>
				</nav>
			</nav>
		</header>


		<main id="main">
			<section id="user-input">
				<header></header>
				<article id="user-info">
					<img src="../../public/css/images/profile_image.jpg" class="profile_picture"/>
					<article id="identity">
						<h1>Elena Garrone</h1>
						<h2>@elena15</h2>
					</article>
				</article>
				<article id="peep_box">
					<input type="text" placeholder="Compose new peep" id="new_peep_content"/>
					<a href="#" id="validate_peep">Peep</a>
				</article>
			</section>
			<section id="peeps">
				<h1>Peeps</h1>
				<h2></h2>
				<article class="peeps_list">
					<header>
						<h3 class="full_name">Full name</h3>
						<h3 class="username">@username</h3>
					</header>
					<p class="peep_content">my first peep</p>
				</article>
			</section>
		</main>
	</body>
</html>